.nav-btns{
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    border-color: #576574;
    font-weight: bold;
    color: #576574;
}


.active-nav-btn {
    border-color: #1DD1A1;
    color: #1DD1A1;
}