html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    background:  #E5EDF5;

}
.box-container{
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -175px;

}

.input-container{
   border-color: #C6C6C6;
   border-radius: 5px;
   background: #fff;
   border: none;
   margin-top: 30px;
   
}



.text-field,.text-field-input{
    display: block;
    border-radius: 5px;
    font-size: 28px;
    
}


.text-field{
    border: 1.5px solid #C6C6C6;
    height: 35px;
    margin-top: 8px;

}



.primary-button{
    background: #1DD1A1;
    Box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 25px;
    border: none;
    height: 38px;
    text-transform: uppercase;
    
}

.TextDiv{
    text-align: center;
    position: relative;
    top: 550px;
}

.primary-button,.text-field{
    width: 280px;
}


